# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/claveSpeak.txt
# Optional: Ignore other files and directories specific to your frontend
.env
dist/
build/
logs/
*.log